
doctype html
html
    head
        title Led's Chat
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/frontend/css/bootstrap.min.css", )
        link(rel="stylesheet" href="/frontend/css/fontawesome.min.css")
        link(rel="stylesheet" href="/frontend/css/style.css")
    body
        script 
            | if (typeof module === 'object') {window.module = module; module = undefined;}

        script(src="/frontend/js/jquery.min.js")
        script(src="/frontend/js/jquery-ui.min.js")
        script(src="/frontend/js/jquery.ui.touch-punch.min.js")
        script(src="/frontend/js/bootstrap.min.js")
        script(src="/js/frontend.js")
            | if (window.module) module = window.module;
        
        include gui.html